@import "../../styles/_variable.scss";

$sub-font-size: 14px;

.todo-summary {
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #eee;
    opacity: 0.8;
    background: url('../../image/summary-back.jpg') no-repeat center;
    background-size: cover;

    .todo-summary-title,
    .todo-summary-data {
        padding-top: 15px;
    }

    .todo-summary-title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 2;
        padding-left: 15px;
        border-bottom: 4px solid $form-background-color;
        span {
            font-size: $sub-font-size;
            padding-top: 10px;
        }
    }
    .todo-summary-data {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        padding-left: 15px;
        padding-bottom: 5px;
        .mask {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000;
            opacity: 0.2;
            z-index: -1;
        }
        .todo-summary-list {
            display: flex;
            flex-direction: row;
            p {
                display: flex;
                flex-direction: column;
                padding: 5px;
                span {
                    font-size: 26px;
                    text-align: right
                }
            }
        }
        .todo-summary-rate {
            font-size: $sub-font-size;
        }
    }
}
