@import "../../styles/_variable.scss";

.todo-summary {
    height: 180px;
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #eee;
    opacity: 0.8;
    background: url('../../image/summary-back.jpg') no-repeat center;
    background-size: cover;

    .todo-summary-title,
    .todo-summary-data {
        padding: 15px 0 30px 0;
    }

    .todo-summary-title {
        padding-left: 15px;
        border-bottom: 4px solid $form-background-color;
    }
    .todo-summary-data {
        position: relative;
        padding-left: 15px;
        flex-grow: 1;
        .mask {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000;
            opacity: 0.15;
        }
    }
}
